[submodule "external/RecyclerViewPager-Xamarin"]
	path = external/RecyclerViewPager-Xamarin
	url = https://github.com/emmauss/RecyclerViewPager-Xamarin.git

[submodule "external/RefreshLayout-Xamarin"]
	path = external/RefreshLayout-Xamarin
	url = https://github.com/emmauss/RefreshLayout-Xamarin.git

[submodule "external/EasyRecyclerView"]
	path = external/EasyRecyclerView	
	url = https://github.com/emmauss/EasyRecyclerView.git
