<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="emmaus.HPXDroid" android:versionCode="15109" android:versionName="1.5.1-9" android:installLocation="auto" android:configChanges="keyboardHidden|orientation">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="HPXDroid" android:theme="@style/MyTheme" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round"></application>
</manifest>